@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  /* colors */
  --clr-purple-100: hsl(254 88% 90%);
  --clr-purple-500: hsl(256 67% 59%);
  --clr-yellow-100: hsl(31 66% 93%);
  --clr-yellow-500: hsl(39 100% 71%);
  --clr-white: hsl(0 0% 100%);
  --clr-black: hsl(0 0% 7%);

  /* typography */
  --fs-100: 1.125rem; /* 18px */
  --fs-200: 1.5rem; /* 24px */
  --fs-300: 2rem; /* 32px */
  --fs-400: 2.875rem; /* 46px */
  --fs-500: 4rem; /* 64px */

  /* spacing */
  --space-1: 0.5rem; /* 8px */
  --space-2: 1rem; /* 16px */
  --space-3: 1.5rem; /* 24px */
  --space-4: 2rem; /* 32px */
  --space-5: 2.5rem; /* 40px */
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  figure {
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  img {
    max-width: 100%;
    display: block;
  }
}

@layer base {
  html {
    font-family: 'DM Sans', sans-serif;
    line-height: 1.2;
  }

  body {
    color: var(--clr-black);
    font-size: var(--fs-100);
    font-weight: 400;
    background-color: rgb(179, 179, 179);
    text-wrap: pretty;
  }

  h1,
  h2 {
    color: var(--heading-text, inherit);
    font-size: var(--heading-font-size, var(--fs-300));
    line-height: 1.1;
    letter-spacing: -1px;

    span {
      display: var(--heading-span-display, inline);
      color: var(--heading-span-text-color, var(--clr-black));
      font-size: var(--heading-span-font-size, inherit);
    }
  }
}

@layer layout {
  .bento-wrapper {
    display: grid;
    gap: var(--space-3);
    margin-inline: auto;
    max-inline-size: 1120px;
    grid-template-areas:
      'one'
      'two'
      'three'
      'four'
      'five'
      'six'
      'seven'
      'eight';

    @media (width > 960px) {
      grid-template-areas:
        'seven one one four'
        'seven two three four'
        'eight two three four'
        'eight six five five';
    }
  }

  .bento-wrapper > * {
    background-color: var(--section-background, var(--clr-white));
    color: var(--section-text-color, var(--clr-black));
    padding-inline: var(--section-padding, var(--space-2));
    padding-block: var(--section-padding, var(--space-4));
    border-radius: var(--section-border-radius, var(--space-2));

    display: grid;
    gap: var(--section-gap, var(--space-2));
    align-items: var(--section-vertical, start);
    align-content: var(--section-vertical, start);
    justify-items: var(--section-horizontal, start);
    text-align: var(--section-horizontal, start);

    overflow: hidden;
  }

  .bento-wrapper img {
    max-width: var(--section-image-width, 100%);
    width: var(--section-image-width, 100%);
    order: var(--section-image-order);
  }

  .bento-wrapper > :nth-child(1) {
    --section-padding: var(--space-3);
    --section-background: var(--clr-purple-500);
    --section-text-color: var(--clr-white);
    --heading-font-size: clamp(var(--fs-400), 2.875rem + 0.5vw, var(--fs-500));
    --heading-span-text-color: var(--clr-yellow-500);

    --section-horizontal: center;
    --section-image-width: 65%;

    grid-area: one;

    img {
      margin-block-start: var(--space-2);
    }

    @media (width > 960px) {
      --section-font-size: var(--fs-500);
      --section-image-width: 60%;
      padding-block: var(--space-5);
    }
  }

  .bento-wrapper > :nth-child(2) {
    --heading-font-size: var(--fs-200);
    --section-padding: var(--space-2);
    --section-image-order: -1;

    grid-area: two;

    > img {
      filter: drop-shadow(0 0 1rem hsla(0, 0%, 0%, 0.329));
      border-radius: 100px;
    }

    @media (width > 960px) {
      --section-image-width: 150%;
      --section-padding: var(--space-3);
      --section-vertical: center;
    }
  }

  .bento-wrapper > :nth-child(3) {
    --section-background: var(--clr-yellow-500);
    --heading-font-size: var(--fs-200);
    --section-padding: 0;
    --section-vertical: end;

    grid-area: three;

    padding: var(--space-2) var(--space-2) 0 var(--space-2);

    img {
      --section-image-width: 65%;
      margin-block-end: -1rem;
    }

    @media (width > 960px) {
      --heading-font-size: var(--fs-300);
      --section-gap: var(--space-3);
      --section-padding: var(--space-3);
       h2 {
        line-height: 1.0;
       }
      img {
        --section-image-width: 100%;
        margin-block-end: -3.25rem;
      }
    }
  }

  .bento-wrapper > :nth-child(4) {
    --section-background: var(--clr-purple-100);
    --heading-font-size: var(--fs-200);
    --section-horizontal: center;

    grid-area: four;

    @media (width > 960px) {
      --section-horizontal: start;
      --section-vertical: center;
      --section-gap: var(--space-3);
      --section-padding: var(--space-3);

      img {
        --section-image-width: 175%;
        margin-inline-start: 0.5rem;
      }
    }
  }

  .bento-wrapper > :nth-child(5) {
    --section-background: var(--clr-purple-500);
    --section-text-color: var(--clr-white);
    --heading-font-size: var(--fs-300);
    --section-padding: var(--space-3);
    --section-horizontal: center;

    --section-image-width: 75%;

    grid-area: five;

    @media (width > 960px) {
      grid-template-columns: 1fr 1fr;
      --section-gap: var(--space-1);
      --section-padding: var(--space-2);
      --section-horizontal: start;
      --section-vertical: center;
      --section-image-width: 100%;
    }
  }

  .bento-wrapper > :nth-child(6) {
    --heading-font-size: var(--fs-400);
    --section-image-width: 55%;
    --section-gap: var(--space-2);

    grid-area: six;

    span {
      font-size: var(--fs-100);
      display: block;
    }

    @media (width > 960px) {
      --heading-font-size: var(--fs-500);
      --section-vertical: center;
      --section-gap: var(--space-3);
      --section-image-width: 75%;
    }
  }

  .bento-wrapper > :nth-child(7) {
    --section-background: var(--clr-yellow-100);
    --section-padding: var(--space-3);

    --section-image-width: 60%;

    grid-area: seven;

    em {
      color: var(--clr-purple-500);
    }

    @media (width > 960px) {
      --section-image-width: 100%;
      --section-vertical: center;
      --section-gap: var(--space-3);
    }
  }

  .bento-wrapper > :nth-child(8) {
    --section-background: var(--clr-yellow-500);
    --heading-font-size: var(--fs-300);
    --section-padding: var(--space-3);
    --section-vertical: end;

    grid-area: eight;

    img {
      --section-image-width: 65%;
    }

    @media (width > 960px) {
      --section-padding: var(--space-2);
      --section-horiztonal: center;
      --section-vertical: space-evenly;
      --section-gap: var(--space-4);

      img {
        --section-image-width: 100%;
      }
    }
  }
}
