@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  /* colors */
  --clr-purple-100: hsl(254 88% 90%);
  --clr-purple-500: hsl(256 67% 59%);
  --clr-yellow-100: hsl(31 66% 93%);
  --clr-yellow-500: hsl(39 100% 71%);
  --clr-white: hsl(0 0% 100%);
  --clr-black: hsl(0 0% 7%);

  /* typography */
  --fs-100: 1.125rem; /* 18px */
  --fs-200: 1.5rem; /* 24px */
  --fs-300: 2rem; /* 32px */
  --fs-400: 2.875rem; /* 46px */
  --fs-500: 4rem; /* 64px */

  /* spacing */
  --space-1: 0.5rem; /* 8px */
  --space-2: 1rem; /* 16px */
  --space-3: 1.5rem; /* 24px */
  --space-4: 2rem; /* 32px */
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  figure {
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }

  img {
    max-width: 100%;
    display: block;
  }
}

@layer base {
  html {
    font-family: 'DM Sans', sans-serif;
    line-height: 1.2;
  }

  body {
    color: var(--clr-black);
    font-size: var(--fs-100);
    font-weight: 400;
    background-color: rgb(179, 179, 179);
    text-wrap: pretty;
  }

  h1,
  h2 {
    color: var(--heading-text, inherit);
    font-size: var(--heading-font-size, var(--fs-300));
    line-height: 1.1;
    letter-spacing: -1px;

    span {
      display: var(--heading-span-display, inline);
      color: var(--heading-span-text-color, var(--clr-black));
      font-size: var(--heading-span-font-size, inherit);
    }
  }
}

@layer layout {
  .bento-wrapper {
    display: grid;
    gap: var(--space-3);
  }

  .bento-wrapper > * {
    background-color: var(--section-background, var(--clr-white));
    color: var(--section-text-color, var(--clr-black));
    padding-inline: var(--section-padding, var(--space-2));
    padding-block: var(--section-padding, var(--space-4));
    border-radius: var(--section-border-radius, var(--space-2));

    display: grid;
    gap: var(--section-gap, var(--space-2));
    align-content: var(--section-vertical, start);
    justify-items: var(--section-horizontal, start);
    text-align: var(--section-horizontal, start);

    overflow: hidden;
  }

  .bento-wrapper img {
    max-width: var(--section-image-width, 100%);
    width: var(--section-image-width, 100%);
    order: var(--section-image-order);
  }

  .bento-wrapper > :nth-child(1) {
    --section-padding: var(--space-3);
    --section-background: var(--clr-purple-500);
    --section-text-color: var(--clr-white);
    --heading-font-size: clamp(var(--fs-400), 2.875rem + 0.5vw, var(--fs-500));
    --heading-span-text-color: var(--clr-yellow-500);

    --section-horizontal: center;
    --section-image-width: 65%;

    img {
      margin-block-start: var(--space-2);
    }
  }

  .bento-wrapper > :nth-child(2) {
    --heading-font-size: var(--fs-200);
    --section-padding: var(--space-2);
    --section-image-order: -1;

    > img {
      filter: drop-shadow(0 0 1rem hsla(0, 0%, 0%, 0.329));
      border-radius: 100px;
    }
  }

  .bento-wrapper > :nth-child(3) {
    --section-background: var(--clr-yellow-500);
    --heading-font-size: var(--fs-200);
    --section-padding: 0;
    --section-vertical: end;

    padding: var(--space-2) var(--space-2) 0 var(--space-2);

    img {
      --section-image-width: 65%;
      margin-block-end: -1rem;
    }
  }

  .bento-wrapper > :nth-child(4) {
    --section-background: var(--clr-purple-100);
    --heading-font-size: var(--fs-200);
    --section-horizontal: center;
  }

  .bento-wrapper > :nth-child(5) {
    --section-background: var(--clr-purple-500);
    --section-text-color: var(--clr-white);
    --heading-font-size: var(--fs-300);
    --section-padding: var(--space-3);
    --section-horizontal: center;

    --section-image-width: 75%;
  }

  .bento-wrapper > :nth-child(6) {
    --heading-font-size: var(--fs-400);
    --section-image-width: 55%;
    --section-gap: var(--space-2);

    span {
      font-size: var(--fs-100);
      display: block;
    }
  }

  .bento-wrapper > :nth-child(7) {
    --section-background: var(--clr-yellow-100);
    --section-padding: var(--space-3);

    --section-image-width: 60%;

    em {
      color: var(--clr-purple-500);
    }
  }

    .bento-wrapper > :nth-child(8) {
    --section-background: var(--clr-yellow-500);
    --heading-font-size: var(--fs-300);
    --section-padding: var(--space-3);
    --section-vertical: end;


    img {
      --section-image-width: 65%;
    }
  }
}
